@charset "ISO-8859-1";
body{
	background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20201024/pngtree-minimal-cylinder-podium-scene-with-geometrical-forms-image_435987.jpg");
    background-repeat: no-repeat;
    background-size: 130%;
}


h2{
  background-color: black;
  width:130%;
  color: white;
  font-family: sans-serif;
  text-align: center;	
}


a{
	height:60px;
	width:100px;
	border: 0px;
	padding: 5px;
	margin: 5px;
	background-color:black;
	color:white;
	font-size:25px;
	font-family:sans-serif;
    border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}


table{
	background: black;
	color: white;
	font-family: sans-serif;
	font-size: 14px;
	border-color: black;
}

